<div class="footer-newsletter">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
        <h4>Suscríbete a nuestro boletín</h4>
        <p>
          ¡Recibe las últimas novedades sobre nuestros productos y servicios!
        </p>
        <form method="post" class="newsletter-subscribe-form" action="{% url 'index:subscribe_newsletter' %}">
          {% csrf_token %} {{ subscribe_form.non_field_errors }}
          <div class="newsletter-form">{{ subscribe_form.names }}</div>
          <div class="newsletter-form">{{ subscribe_form.email }}</div>
          <div class="newsletter-form">
            {{ subscribe_form.country_code }} {{ subscribe_form.cell_phone }}
            <input type="submit" value="Enviar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
