{% load static %}

<section id="contact" class="contact section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Contáctanos</h2>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-5">
        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Colombia</h3>
              <p>Armenia, Quindío</p>
            </div>
          </div>
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Llamanos</h3>
              <p>(+57) 321 255 90 16</p>
            </div>
          </div>
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Escribenos</h3>
              <p>info&commat;fundacionleirion.com</p>
            </div>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14984.329832548224!2d-75.7025795!3d4.4028313!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM0Q0MDI4MzEzLjY5NjI!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus"
            frameborder="0"
            style="border: 0; width: 100%; height: 270px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="col-lg-7">
        {% include 'includes/sections/contact/form.html' %}
      </div>
    </div>
  </div>
</section>