{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="/" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'imgs/logo.png' %}" alt="" />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="/#hero" class="active">INICIO</a>
        </li>

        <li class="dropdown"><a href="#"><span>CONÓCENOS</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="/#why-us">¿Por qué nosotros?</a></li>
            <li><a href="/#about">¿Quiénes somos?</a></li>
            <li><a href="/#mission_vision">Misión y Visión</a></li>
          </ul>
        </li>

        <li>
          <a href="/#bonds">BONOS HISTÓRICOS</a>
        </li>

        <li>
          <a href="/#services">SERVICIOS</a>
        </li>

        <li>
          <a href="/#contact">CONTÁCTANOS</a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
