<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>NOSOTROS</h2>
  </div>
  <div class="container">
    <div class="row gy-2">
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p>
          En Fundación Leirión, nos comprometemos a trabajar de la mano con
          comunidades y autoridades para promover el desarrollo sostenible y la
          igualdad de oportunidades. A través de nuestros programas innovadores,
          impactamos positivamente en la vida de millones de personas,
          construyendo un futuro más justo y equitativo.
        </p>

        <ul>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span
              >Compromiso con el desarrollo sostenible y la igualdad de
              oportunidades</span
            >
          </li>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span>Impacto positivo en millones de vidas</span>
          </li>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span
              >Objetivos bien definidos con Proyectos Sociales, Formación,
              Vivienda Digna y Becas</span
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <p>
          Nuestro enfoque se centra en cuatro áreas principales: Proyectos
          Sociales que fortalecen el tejido comunitario, Formación que capacita
          y empodera, Vivienda Digna que mejora la calidad de vida, y Becas
          Educativas que fomentan el acceso a la educación superior.
        </p>
        <a href="/#contact" class="read-more"
          ><span>Contáctanos</span><i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
