{% load static %}
<section id="call-to-action" class="call-to-action section">
    <img src="{% static 'imgs/home/cta-bg.jpg' %}" alt="">
    <div class="container">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <h3>Únete a nuestra causa</h3>
                <p>Ayúdanos a transformar vidas y comunidades a través del amor, la conciencia y la autonomía. Únete hoy mismo y sé parte del cambio positivo que el mundo necesita.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Únete ahora</a>
            </div>
        </div>
    </div>
</section>