{% load static %}
<section id="cripto" class="portfolio-details section">
  <div class="container section-title" data-aos="fade-up">
    <h2>CRIPTO</h2>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-md-6">
        <video
          src="{% static 'video/cripto.mp4' %}"
          class="object-fit-contain"
          controls
          autoplay
          loop
          muted
          width="100%"
          height="auto"
        ></video>
      </div>
      <div class="col-md-6">
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
          <h3>Leirion</h3>
          <h4>HISTORICAL COIN</h4>
          <ul>
            <li>
              Criptomoneda respaldada en gran cantidad de material exótico y
              bonos históricos.
            </li>
            <li>
              Si está interesado en adquirir nuestra moneda, por favor
              <a href="/#contact">contáctenos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
