{% load static %}
<section id="bonds" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Bonos Historicos</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <p>
          SOMOS GRANDES TENEDORES DE BONOS HISTÓRICOS NUMISMÁTICOS Y MATERIAL
          EXÓTICO.
        </p>
        <p>Buscamos Agentes Directos con:</p>
        <ul>
          <li>Mesas de redención.</li>
          <li>Mesas de compra privada soberana.</li>
          <li>Grandes empresarios europeos, asiáticos y americanos.</li>
          <li>Bancos internacionales.</li>
          <li><strong>NO COMPRAS DE CALLE.</strong></li>
          <li>
            Si cumple con los requisitos, no dude en
            <a href="/#contact">contactarnos.</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'imgs/bonds/1.png' %}" class="img-fluid" alt="1">
      </div>
    </div>
  </div>
</section>
