{% load static %}
<section id="mission_vision" class="section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <img
          src="{% static 'imgs/home/skills.png' %}"
          class="img-fluid"
          alt=""
        />
      </div>

      <div class="col-md-8 pt-4 pt-lg-0 content">
        <div class="row">
          <div class="col-md-6">
            <h4>Misión</h4>
            <p class="fst-italic">
              Somos una organización que aporta todo su amor en la construcción
              de oportunidades para la resignificación del ser humano, buscando
              una sociedad en paz, más justa, equitativa, productiva y
              respetuosa del medio ambiente.​
            </p>
          </div>
          <div class="col-md-6">
            <h4>Visión</h4>
            <p class="fst-italic">
              En el año 2030 la Fundación Leirión será reconocida mundialmente,
              como una organización de carácter humanitario, que ha ayudado a
              más de 10 millones de familias a mejorar significativamente su
              calidad de vida desde sus 4 líneas estratégicas.​
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>