{% load static %}

<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>servicios</h2>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-xl-4 col-sm-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="service-item position-relative">
          <img src="{% static 'imgs/services/proyectos_sociales.png' %}" class="img-fluid" alt="proyectos sociales">
        </div>
      </div>
      <div
        class="col-xl-4 col-sm-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="service-item position-relative">
          <img src="{% static 'imgs/services/vivienda.png' %}" class="img-fluid" alt="vivienda digna">
        </div>
      </div>
      <div
        class="col-xl-4 col-sm-12 d-flex"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="service-item position-relative">
          <img src="{% static 'imgs/services/becas.png' %}" class="img-fluid" alt="becas">
        </div>
      </div>
    </div>
  </div>
</section>