{% load static %}

<!-- Services Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>servicios</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="service-item position-relative">
          <h4>
            Proyectos Sociales
          </h4>
          <img src="{% static 'imgs/services/proyectos_sociales.png' %}" class="img-fluid" alt="proyectos sociales">
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="service-item position-relative">
          <h4>
            Vivienda Digna
          </h4>
          <img src="{% static 'imgs/services/vivienda.png' %}" class="img-fluid" alt="vivienda digna">
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="service-item position-relative">
          <h4>
            Formación
          </h4>
          <img src="{% static 'imgs/services/formacion.png' %}" class="img-fluid" alt="formación B-Learning">
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="service-item position-relative">
          <h4>
            Becas
          </h4>
          <img src="{% static 'imgs/services/becas.png' %}" class="img-fluid" alt="becas">
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- /Services Section -->
