{% load static %}

<section id="team" class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Equipo</h2>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img src="{% static 'imgs/team/presidencia.png' %}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Dra. Lirio Uria</h4>
            <span>Presidenta</span>
            <div class="social">
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img src="{% static 'imgs/team/juridico.png' %}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Dr. Jorge Vega</h4>
            <span>Consultor Jurídico Internacional</span>
            <div class="social">
              <a href=""> <i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img src="{% static 'imgs/team/vicepresidencia.png' %}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Dr. Iván Peralta</h4>
            <span>Vicepresidente Latinoamericano</span>
            <div class="social">
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            <img src="{% static 'imgs/team/psicosocial.png' %}" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Sr. James Sabogal</h4>
            <span>Director Nacional Psicosocial</span>
            <div class="social">
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>