<!-- Why Us Section -->
{% load static %}

<section id="why-us" class="section why-us" data-builder="section">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">
                <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
                    <h3><span>Somos una organización</span><strong> de carácter mundial</strong></h3>
                    <p class="text-justify">
                        Gestionamos e implementamos proyectos de desarrollo y transformación social en comunidades rurales y urbanas de Latinoamérica; buscando la resignificación del ser humano, la protección de la infancia y el cuidado del medio ambiente, como bases de la transformación y equidad del orden mundial.
                    </p>
                    <p>
                        El cambio comienza sembrando una semilla de amor en cada hogar.
                    </p>
                </div>
                

                <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="faq-item faq-active">
                        <h3><span>01</span> Líneas estratégicas: Proyectos Sociales, Formación, Vivienda digna, Becas</h3>
                        <div class="faq-content">
                            <p class="text-justify">
                                Desarrollamos programas en articulación con la comunidad, los estamentos gubernamentales y la empresa privada, que impactan positiva y ampliamente a la población para disminuir sus brechas de desprotección, pobreza e inequidad.
                                <br/>
                                <br/>
                                Concentramos nuestros esfuerzos en 4 grandes líneas estratégicas: Proyectos Sociales, Formación (B-Learning), Vivienda digna, Becas educativas.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span>01</span> Nuestros valores: Amor, Conciencia, Autonomía</h3>
                        <div class="faq-content">
                            <p class="text-justify">
                                Amor. Energía viva, inspirada por la fe en Dios, para hacer el bien; que inicia el dar y el recibir, el convivir, el compartir, el respetar y el confiar.
                                <br/>
                                <br/>
                                Conciencia. Es la claridad de saber quién soy en la construcción propia y colectiva.
                                <br/>
                                <br/>
                                Autonomía. Equilibrio entre el uso responsable de la libertad y el conocimiento, en el marco del bien común.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span>03</span> Nuestra Misión y Visión</h3>
                        <div class="faq-content">
                            <p class="text-justify">
                                Aportar todo nuestro amor en la construcción de oportunidades para la resignificación del ser humano, buscando una sociedad en paz, más justa, equitativa, productiva y respetuosa del medio ambiente.
                                <br/>
                                <br/>
                                En el año 2030, la Fundación Leirión será reconocida mundialmente como una organización humanitaria que ha ayudado a más de 10 millones de familias a mejorar significativamente su calidad de vida desde sus 4 líneas estratégicas.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 why-us-img">
                <img src="{% static 'imgs/home/why-us.png' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>
        </div>
    </div>
</section>

<!-- /Why Us Section -->